<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .navbar {
      background-color: white !important; /* 设置导航栏背景颜色为白色，并使用 !important 确保优先级 */
    }
    .navbar-header .navbar-brand {
      padding: 0; /* 去掉内边距 */
    }
    .navbar-header .navbar-brand img {
      max-height: 50px; /* 设置 logo 图片高度 */
      margin: 5px 0 5px 15px; /* 设置 logo 图片的边距，确保靠近左上角 */
    }
    .navbar-default .navbar-nav > li > a {
      color: black; /* 设置导航链接文字颜色为黑色 */
    }
  </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <!-- 添加 logo 图标 -->
      <a class="navbar-brand" href="https://sigir2025.dei.unipd.it/index.html">
        <img src="assets/img/sigir2025-logo.png" alt="Logo">
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#summary">Summary</a>
        </li>
        <li>
          <a class="page-scroll" href="#tutorials">Schedule</a>
        </li>
        <li>
          <a class="page-scroll" href="#organizer">Organizer</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Include Bootstrap JS -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>
